<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/stylescat.css">
    <title>Accesorios</title>
</head>
<body>
    <header class="encabezado">
        <a href="/index.html"><img src="/src/img/imagenesIndex/Logo.jpg" alt=""></a>
            <div class="busqueda">
                <button type="submit">buscar</button>
                <input type="text" placeholder="buscar">
            </div>
        <a href="/src/views/iniciar-sesion.html">Iniciar sesion</a>
        <a href="/src/views/registrarse.html">Registarse</a>

    </header>
    <nav class="categorias">
        <a href="/src/views/figuras.html">Figuras</a>
        <a href="/src/views/accesorios.html">Accesorios</a>
        <a href="/src/views/ropa.html">Ropa</a>
        <a href="/src/views/consolas.html">Consolas</a>
        <a href="/src/views/videojuegos.html">Videojuegos</a>
        <a href="/src/views/perifericos.html">Perifericos</a>
    </nav>
    <div class="contenido">
        <aside class="subcategorias">
            <h2>Acesorios y decoracion</h2>
            <a href="">-Llaveros</a>
            <a href="">-Pines</a>
            <a href="">-Poster</a>
            <a href="">-Lamparas</a>
            <a href="">-Fundas para celular</a>
            <a href="">-Carcasas de consolas</a>
        </aside>
        <section>
            <div class="producto">
                <img src="/src/img/Accesorios/Anillo Gamer.jfif" alt="">
                <h2>Anillo</h2>
                <a href="/src/accesorios/vistaAnillo/Vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Accesorios/Collar AOT.jfif" alt="">
                <h2>Collar AOT</h2>
                <a href="/src/accesorios/vistaCollarAot/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Accesorios/Protector.webp" alt="">
                <h2>Estuche Para Celular</h2>
                <a href="/src/accesorios/vistaProtector/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Accesorios/Gafas.webp" alt="">
                <h2>Gafas</h2>
                <a href="/src/accesorios/vistaGafas/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Accesorios/Kit.jfif" alt="">
                <h2>Kit</h2>
                <a href="/src/accesorios/vistaKit/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Accesorios/Corbata.jfif" alt="">
                <h2>Corbata</h2>
                <a href="/src/accesorios/vistaCorbata/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Accesorios/Llavero PS .jpg" alt="">
                <h2>Llavero PS</h2>
                <a href="/src/accesorios/vistaLlaveroPS/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Accesorios/Tasa Game Over.jfif" alt="">
                <h2>Tasa Game Over</h2>
                <a href="/src/accesorios/vistaTasaGameOver/vista.html">Ver más</a>
            </div>  
        </section>
    </div>
</body>
</html>