<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/stylescat.css">
    <title>Consolas</title>
</head>
<body>
    <header class="encabezado">
        <a href="/index.html"><img src="/src/img/imagenesIndex/Logo.jpg" alt=""></a>
            <div class="busqueda">
                <button type="submit">buscar</button>
                <input type="text" placeholder="buscar">
            </div>
        <a href="/src/views/iniciar-sesion.html">Iniciar sesion</a>
        <a href="/src/views/registrarse.html">Registarse</a>


    </header>
    <nav class="categorias">
        <a href="/src/views/figuras.html">Figuras</a>
        <a href="/src/views/accesorios.html">Accesorios</a>
        <a href="/src/views/ropa.html">Ropa</a>
        <a href="/src/views/consolas.html">Consolas</a>
        <a href="/src/views/videojuegos.html">Videojuegos</a>
        <a href="/src/views/perifericos.html">Perifericos</a>
    </nav>
    <div class="contenido">
        <aside class="subcategorias">
            <h2>Consolas</h2>
            <a href="">-Sony</a>
            <a href="">-Xbox</a>
            <a href="">-Nintendo</a>
            <a href="">-Retro</a>
            <a href="">-Portatil</a>
            <a href="">-Sobremesa</a>
        </aside>
        <section>
            <div class="producto">
                <img src="/src/img/Consolas/PlayStation 5.jfif" alt="">
                <h2>PlayStation 5</h2>
                <a href="/src/consolas/vistaPlayStation5/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Consolas/Nintendo 64 .jfif" alt="">
                <h2>Nintendo 64</h2>
                <a href="/src/consolas/vistaNintendo64/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Consolas/Sega DREAMCAST.jfif" alt="">
                <h2>Sega DreamCAST</h2>    
                <a href="/src/consolas/vistaDreamCast/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Consolas/PSP.jfif" alt="">
                <h2>PSP</h2>
                <a href="/src/consolas/vsitaPsp/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Consolas/Tamagochi.jfif" alt=""> 
                <h2>Tamagochi</h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Consolas/Game Cube.jfif" alt="">
                <h2>Game Cube</h2>
                <a href="/src/consolas/vistaGameCube/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Consolas/Consola Gamer.jfif" alt="">
                <h2>Consola Gamer</h2>
                <a href="/src/consolas/vistaConsolaGamer/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Consolas/X BOX.jfif" alt="">
                <h2>X Box</h2>
                <a href="/src/consolas/vistaXBox/vista.html">Ver más</a>
            </div>  
        </section>
    </div>
</body>
</html>