<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/stylescat.css">
    <title>Figuras</title>
</head>
<body>
    <header class="encabezado">
        <a href="/index.html"><img src="/src/img/imagenesIndex/Logo.jpg" alt=""></a>
            <div class="busqueda">
                <button type="submit">buscar</button>
                <input type="text" placeholder="buscar">
            </div>
        <a href="/src/views/iniciar-sesion.html">Iniciar-sesion</a>
        <a href="/src/views/registrarse.html">Registarse</a>
    </header>
    <nav class="categorias">
        <a href="/src/views/figuras.html">Figuras</a>
        <a href="/src/views/accesorios.html">Accesorios</a>
        <a href="/src/views/ropa.html">Ropa</a>
        <a href="/src/views/consolas.html">Consolas</a>
        <a href="/src/views/videojuegos.html">Videojuegos</a>
        <a href="/src/views/perifericos.html">Perifericos</a>
    </nav>
    <div class="contenido">
        <aside class="subcategorias">
            <h2>Figuras</h2>
            <a href="">-Estaticas</a>
            <a href="">-Articuladas</a>
            <a href="">-Nendroid / chibi</a>
            <a href="">-Modelkits</a>
        </aside>
        <section>
            <div class="producto">
                <img src="/src/img/Figuras/Figura DanDan.jpg.jpg" alt="Figura DanDan">
                <h2>Figura DanDan</h2>
                <a href="/src/figuras/vistaDande/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Figuras/Figura Dead Note.jpg" alt="Figura Dead Note">
                <h2>Figura Dead Note</h2>
                <a href="/src/figuras/vistaDeathNote/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Figuras/Figura Dante.jfif" alt="Figura Dante">
                <h2>Figura Dante</h2>    
                <a href="/src/figuras/vistaDante/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Figuras/Figura Doom-Guy.jfif" alt="Figura Doom-Guy">
                <h2>Figura Doom-Guy</h2>
                <a href="/src/figuras/vistaDoom/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Figuras/Figura Hatsune Miku.jfif" alt="Figura Hatsune Miku">
                <h2>Figura Hatsune Miku
                </h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Figuras/Figura One Piece.jfif" alt="Figura One Piece">
                <h2>Figura One Piece</h2>
                <a href="/src/figuras/vistaOnePiece/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Figuras/Figura Scorpion.jfif" alt="Figura Scorpion">
                <h2>Figura Scorpion</h2>
                <a href="/src/figuras/vistaScorpion/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/Figuras/Figura Kratos.jfif" alt="Figura Kratos">
                <h2>Figura Kratos</h2>
                <a href="/src/figuras/vistaKratos/vista.html">Ver más</a>
            </div>  
        </section>
    </div>
</body>
</html>