<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/stylesIni.css">
    <title>Registrarse</title>
</head>

<body>
    <header>
        <a href="/index.html"><img src="/src/img/imagenesIndex/Logo.jpg" alt=""></a>
    </header>
    <main class="registro">
        <section class="">
            <img src="" alt="">
            <div class="redes">
                <img src="/src/img/redesSociales/Facebook.jfif" alt="">
                <img src="/src/img/redesSociales/Google.jfif" alt="">
                <img src="/src/img/redesSociales/Twitter .jfif" alt="">
            </div>
            <h2>Nombre de usuario</h2>
            <input type="text" placeholder="">
            <h2>Contraseña</h2>
            <input type="password" placeholder="">
        </section>
    </main>
    <section class="botones">
        <var>
            <a class="iniciar-sesion" href="/src/views/iniciar-sesion.html">iniciar sesion</a>
            <a class="Registrarse" href="/src/views/registrarse.html">registrarse</a>
        </var>
    </section>
</body>

</html>