<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/stylescat.css">
    <title>Perifericos</title>
</head>
<body>
    <header class="encabezado">
        <a href="/index.html"><img src="/src/img/imagenesIndex/Logo.jpg" alt=""></a>
            <div class="busqueda">
                <button type="submit">buscar</button>
                <input type="text" placeholder="buscar">
            </div>
        <a href="/src/views/iniciar-sesion.html">Iniciar sesion</a>
        <a href="/src/views/registrarse.html">Registarse</a>

    </header>
    <nav class="categorias">
        <a href="/src/views/figuras.html">Figuras</a>
        <a href="/src/views/accesorios.html">Accesorios</a>
        <a href="/src/views/ropa.html">Ropa</a>
        <a href="/src/views/consolas.html">Consolas</a>
        <a href="/src/views/videojuegos.html">Videojuegos</a>
        <a href="/src/views/perifericos.html">Perifericos</a>
    </nav>
    <div class="contenido">
        <aside class="subcategorias">
            <h2>Acesorios y perifericos</h2>
            <a href="">-Mandos y controles</a>
            <a href="">-Volantes y pedales</a>
            <a href="">-Realidad virtual (VR)</a>
            <a href="">-Headsets y auriculares</a>
            <a href="">-Estaciones de carga y soportes</a>
            <a href="">-Teclados y ratones</a>
        </aside>
        <section>
            <div class="producto">
                <img src="/src/img/perifericos/Audifonos Gamers.jfif" alt="">
                <h2>Audifonos Gamers</h2>
                <a href="/src/perifericos/vistaAudifonosGamer/Vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/perifericos/Control PS.jfif" alt="">
                <h2>Control PS</h2>
                <a href="/src/perifericos/vistaControl/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/perifericos/Lente VR.jfif" alt="">
                <h2>Lentes VR</h2>    
                <a href="/src/perifericos/vistaLentesVr/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/perifericos/Mouse Gamer.jfif" alt="">
                <h2>Mouse Gamer</h2>
                <a href="/src/perifericos/vistaMouseGamer/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/perifericos/Teclado.jfif" alt="">
                <h2>Teclado</h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/perifericos/Cargador para Controles PS.jpg.jpg" alt="">
                <h2>Cargador Para Controles PS</h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/perifericos/Volante y Pedales.jpg.jpg" alt="">
                <h2>Volante y Pedales</h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/perifericos/Affordable and Great Earbuds.jpg.jpg" alt="">
                <h2>Audifonos con Cable</h2>
                <a href="">Ver más</a>
            </div>  
        </section>
    </div>
</body>
</html>