<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/stylescat.css">
    <title>ropa</title>
</head>
<body>
    <header class="encabezado">
        <a href="/index.html"><img src="/src/img/imagenesIndex/Logo.jpg" alt=""></a>
            <div class="busqueda">
                <button type="submit">buscar</button>
                <input type="text" placeholder="buscar">
            </div>
        <a href="/src/views/iniciar-sesion.html">Iniciar sesion</a>
        <a href="/src/views/registrarse.html">Registarse</a>

    </header>
    <nav class="categorias">
        <a href="/src/views/figuras.html">Figuras</a>
        <a href="/src/views/accesorios.html">Accesorios</a>
        <a href="/src/views/ropa.html">Ropa</a>
        <a href="/src/views/consolas.html">Consolas</a>
        <a href="/src/views/videojuegos.html">Videojuegos</a>
        <a href="perifericos.html">Perifericos</a>
    </nav>
    <div class="contenido">
        <aside class="subcategorias">
            <h2>Ropa</h2>
            <a href="">-Camisetas estampadas</a>
            <a href="">-Hoodies y sudaderas</a>
            <a href="">-Prendas estilo japonés (haoris,yukatas,casuales)</a>
            <a href="">-Accesorios textiles (bufandas,medias,gorras)</a>
        </aside>
        <section>
            <div class="producto">
                <img src="/src/img/ropa/Buso Solo E veling.jfif" alt="">
                <h2>Buso Solo E veling</h2>
                <a href="/src/ropa/vistaSoloLe/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/ropa/Caimisa Eren Jeguer.jfif" alt="">
                <h2>Camisa Eren Jeguer</h2>
                <a href="/src/ropa/vistaCamisaEren/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/ropa/Pantalon One Piece.jfif" alt="">
                <h2>Pantalon One Piece</h2>    
                <a href="/src/ropa/vistaPantalonOp/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/ropa/Conjunto Creeper.jfif" alt="">
                <h2>Cojunto Creeper</h2>
                <a href="/src/ropa/vistaConjunto/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/ropa/Pantuflas FNAF .jfif" alt="">
                <h2>Pantuflas FNAF</h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/ropa/Vestido Pikachu .jfif" alt="">
                <h2>Vestido Pikachu</h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/ropa/Chaqueta Dead Note.jfif" alt="">
                <h2>Chaqueta Dead Note</h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/ropa/Medias Minecraft.jfif" alt="">
                <h2>Medias Minecraft</h2>
                <a href="">Ver más</a>
            </div>  
        </section>
    </div>
</body>
</html>