<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/css/stylescat.css">
    <title>videojuegos</title>
</head>

<body>
    <header class="encabezado">
        <a href="/index.html"><img src="/src/img/imagenesIndex/Logo.jpg" alt=""></a>
        <div class="busqueda">
            <button type="submit">buscar</button>
            <input type="text" placeholder="buscar">
        </div>
        <a href="/src/views/iniciar-sesion.html">Iniciar sesion</a>
        <a href="/src/views/registrarse.html">Registarse</a>

    </header>
    <nav class="categorias">
        <a href="/src/views/figuras.html">Figuras</a>
        <a href="/src/views/accesorios.html">Accesorios</a>
        <a href="/src/views/ropa.html">Ropa</a>
        <a href="/src/views/consolas.html">Consolas</a>
        <a href="/src/views/videojuegos.html">Videojuegos</a>
        <a href="/src/views/perifericos.html">Perifericos</a>
    </nav>
    <div class="contenido">
        <aside class="subcategorias">
            <h2>Videojuegos fisicos</h2>
            <a href="">-Nintendo</a>
            <a href="">-PlayStation</a>
            <a href="">-Xbox</a>
            <a href="">-Juegos retro</a>
            <a href="">-Ediciones coleccionista</a>
        </aside>
        <section>
            <div class="producto">
                <img src="/src/img/videojuegos/Batman Arkham PS3 .jfif" alt="">
                <h2>Batman Arkham PS3</h2>
                <a href="/src/videojuegos/vistaBatman/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/videojuegos/The Amazing Spider-Man CD-PC.jfif" alt="">
                <h2>The Amazing Spider-Man CD-PC</h2>
                <a href="/src/videojuegos/vistaSpiderman/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/videojuegos/The last Of Us PS4.jfif" alt="">
                <h2>The Last Of Us PS4</h2>    
                <a href="/src/videojuegos/vistaTheLast/vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/videojuegos/Rick and Morty VR.jfif" alt="">
                <h2>Rick And Morty VR</h2>
                <a href="/src/videojuegos/vistaRyck/Vista.html">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/videojuegos/mortal kombat 1  switch.jfif" alt="">
                <h2>Mortal Kombat 1 Switch</h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/videojuegos/epic Psvita.jfif" alt="">
                <h2>Epic Mickey 2 Psvita</h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/videojuegos/more Zombies!.jfif" alt="">
                <h2>Left 4 Dead 2 Xbox360</h2>
                <a href="">Ver más</a>
            </div>  
            <div class="producto">
                <img src="/src/img/videojuegos/God of War PS2.jfif" alt="">
                <h2>God Of War PS2</h2>
                <a href="">Ver más</a>
            </div>  
        </section>
    </div>
</body>